pre{
	white-space: pre-wrap;
}

.c-container{
	border: 1px solid #eee;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	padding:1rem;
}

.c-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-between;
	align-content: flex-start;

	align-items: flex-start;
}
	.c-readme{
			flex: 1 60%;
			padding-right:20px;
	}
	.c-dependencies{
			flex: 1 20%;
	}

.c-italic{
	font-style:italic;
}

.c-repo-container{
	padding: 0px 10px;
	border: 1px solid #F0F0F0;
	margin: 5px;
	border-radius: 3px;
	background-color: #FCFCFC;
	box-sizing: border-box;
	word-break: keep-all;
	display: inline-block;
}
.c-repo-name{
	font-size:16px;
}

.c-repo-list{
	padding:0;
	margin: 0;
}
.c-repo--dependency{
	list-style: none;
}

.c-repo--dependency-name{
	padding: 2px 3px;
	border-radius: 3px;
	background-color: #fefefe;
	border: 1px solid rgba(200,200,200,.5);
	font-weight: bold;
}
.c-repo--dependency-dev{
	margin-left: 5px;
	font-style: italic;
}

.c-repo--dependency-version{
	padding: 2px 3px;
	border-radius: 2px;
	background-color: #ffe;
	border: 1px solid rgba(200,200,200,.5);
	margin: 0 5px;
	font-weight: bold;
}

.c-dependency--icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}
.c-dependency--icon-npm{
	width: 65px;
	height: 45px;
	background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20500%20195%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%3E%3Cpath%20d%3D%22M0%200h500v168H250v27H139v-27H0zm28.304%20139.493h55.232V55.56h27.768v83.933h27.518v-111H28.304zM166.334%2028l.333%20140h55v-27.933h55.68V28zM221%2055h29v57h-29zm84.333-27v111h55.332V55.666h27.666V139h27.638V56h27.697v83h27.674V28zm0%200%22%20fill%3D%22%23CD3632%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);  
}

.c-dependency--icon-bower{
	width: 45px;
	height: 45px;
	background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%2300ACEE%22%20d%3D%22M434.625%2063.496c-67.822%200-118.4%2071.68-95.018%20123.167%2095.99%200%2056.91-88.605%2095.018-123.167z%22%2F%3E%3Cpath%20fill%3D%22%23FFCC2F%22%20d%3D%22M456.534%20256.992c0-22.79-108.627-34.13-169.14-37.663-60.51-3.534-281.59%2038.388-255.42%2093.812C58.15%20368.568%20124.557%20427.5%20199.29%20427.5c38.716%200%2083.584-27.284%2086.053-77.38%2044.78-14.957%20171.194-15.75%20171.194-93.128z%22%2F%3E%3Cpath%20fill%3D%22%232BAF2B%22%20d%3D%22M400.98%20272.143c7.02%207.104-15.22%2026.295-34.605%2017.262%208.73%2019.688-29.676%2036.064-48.336%2022.026%201.997%2015.866-36.123%2024.997-48.286%207.293%203.136%208.44%205.757%2014.898%208.23%2020.21-.03-.09-.047-.15-.047-.15%206.324%208.28%2014.93%2014.94%2052.394%2014.94%2057.728%200%20150.97-43.85%20150.97-76.04%200-26.643-9.99-29.14-27.195-27.198-17.208%201.942-107.17%2011.29-126.306%207.534%2010.382%202.21%2062.74%2012.24%2073.18%2014.123z%22%2F%3E%3Cpath%20fill%3D%22%23EF5734%22%20d%3D%22M198.51%2048.82c-110.382%200-221.18%20109.72-168.45%20261.056%2035.816%2021.53%2083.575%2012.995%2094.277%201.532%2016.178%205.17%2030.612%207.347%2043.513%207.347%2067.047%200%20124.34-71.235%20124.34-160.257%200-91.302-60.26-109.678-93.68-109.678z%22%2F%3E%3Cpath%20fill%3D%22%23FFCC2F%22%20d%3D%22M153.308%20146.522c0%2024.632%2019.97%2044.603%2044.603%2044.603%2024.634%200%2044.604-19.97%2044.604-44.603%200-24.633-19.97-44.603-44.603-44.603-24.633%200-44.602%2019.97-44.602%2044.602z%22%2F%3E%3Cpath%20fill%3D%22%23543729%22%20d%3D%22M171.207%20146.522c0%2014.747%2011.956%2026.704%2026.704%2026.704%2014.75%200%2026.704-11.957%2026.704-26.704%200-14.748-11.955-26.704-26.703-26.704-14.747%200-26.703%2011.956-26.703%2026.704z%22%2F%3E%3Cellipse%20fill%3D%22%23FFF%22%20cx%3D%22197.91%22%20cy%3D%22134.674%22%20rx%3D%2215.56%22%20ry%3D%229.675%22%2F%3E%3Cpath%20fill%3D%22%23CECECE%22%20d%3D%22M289.4%20123.675c-20.274%2011.807-19.603%2050.03-10.594%2068.68%2017.445-6.465%2041.752-19.29%2045.527-21.584%203.773-2.292-2.088-10.988%2012.56-10.988%2020.314%200%2038.683%206.348%2043.955%208.634-3.337-6.87-45.09-44.74-91.447-44.74z%22%2F%3E%3Cpath%20fill%3D%22%23543729%22%20d%3D%22M502.214%20250.797c-26.335-25.305-158.017-41.1-199.568-45.698%202.014-4.755%203.726-9.67%205.142-14.732%205.665-2.48%2011.776-4.79%2018.1-6.716.77%202.272%204.398%2010.98%206.466%2015.112%2083.553%202.305%2087.844-62.09%2091.24-79.732%203.323-17.25%203.154-33.917%2031.812-64.388C412.71%2042.2%20351.31%2073.928%20330.742%20121.15c-7.728-2.896-15.474-5.035-23.136-6.357-5.488-22.146-34.077-83.845-109.097-83.845-48.586%200-97.582%2020.063-134.422%2055.045-19.852%2018.85-35.445%2041.234-46.344%2066.53C5.97%20179.85%200%20209.94%200%20241.957%200%20353.462%2076.126%20451.18%20119.14%20451.18c18.783%200%2034.942-14.067%2038.735-26.675%203.18%208.645%2012.938%2035.522%2016.142%2042.364%204.737%2010.116%2026.642%2018.87%2036.23%208.372%2012.325%206.85%2034.942%2010.973%2047.27-7.29%2023.738%205.023%2044.727-9.134%2045.183-26.025%2011.65-.622%2017.363-16.978%2014.82-30-1.876-9.592-21.905-44-29.72-55.878%2015.468%2012.58%2054.644%2016.14%2059.4.007%2024.937%2019.57%2063.798%209.3%2066.88-6.62%2030.3%207.875%2065.054-9.416%2059.348-30.358%2048.674-3.37%2042.444-55.16%2028.786-68.283zm-126.758-85.84c-12.82-5.032-29.084-8.216-40.482-8.216-16.164%200-26.01%209.16-41.218%209.16-3.193%200-10.812.017-16.926-2.16%204.02%204.216%209.025%206.504%2018.725%206.504%205.793%200%2017.263-2.958%2026.553-5.752.13%201.956.334%203.898.61%205.826-17.402%204.16-35.664%2015.23-40.95%2018.105-11.754-25.958-1.65-50.505%207.698-61.837%2041.865.1%2075.678%2028.847%2085.99%2038.372zm18.1-1.956l-6.405-5.978c-6.574-6.16-13.43-11.73-20.468-16.678%2010.483-20.8%2023.658-43.514%2040.298-57.565-18.314%207.38-36.397%2029.444-47.09%2053.03-5.447-3.465-10.98-6.555-16.56-9.256%2014.913-31.834%2049.568-58.42%2087.762-60.497-25.583%2023.2-15.978%2069.506-37.535%2096.944zm-52.55%2021.7c-2.82-6.114-5.677-16.27-5.328-22.24%204.753-.11%2013.868%201.67%2015.335%202.017-.557%202.803-.855%208.944-.866%209.74.903-1.557%203.41-6.923%204.43-9.03%209.127%201.744%2021.126%204.66%2028.16%207.938-8.26%205.348-22.298%2011.168-41.73%2011.575zm-57.035-71.79c-33.38%2033.833-20.198%2076.63-8.045%2095.977-17.29%2028.76-51.28%2048.437-90.765%2057.39%2044.328%200%2070.397-11.41%2085.563-22.587%209.677-7.13%2014.928-14.17%2017.608-18.088%2065.72%204.25%20169.784%2025.423%20179.936%2032.28%204.074%202.754%208.278%208.843%208.895%2014.67-49.386-6.915-138.406-14.19-161.718-15.425%2016.55%202.347%20137.24%2025.202%20158.163%2030.552-6.368%2010.383-20.872%2017.714-42.733%2012.62%2011.812%2016.093-11.125%2035.4-43.07%2024.766%207.03%2015.8-21.414%2030.02-53.742%2013.555.41%2015.806-40.105%2017.627-56.123.163.306%202.082%202.207%206.066%203.028%207.81-5.162%2046.15-42.96%2074.782-81.677%2074.782-94.794%200-177.375-76.99-177.375-179.417%200-108.292%2080.03-189.096%20176.597-189.096%2055.332%200%2080.326%2043.55%2085.46%2060.05z%22%2F%3E%3C%2Fsvg%3E);
}
.c-external-link{
	width:15px;
	height: 15px;
	background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cg%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20opacity%3D%22.75%22%3E%3Cpath%20d%3D%22M2%202h3v1H3v6h6V7h1v3H2%22%2F%3E%3Cpath%20d%3D%22M6.21%202H10v3.79L8.58%204.367%206.446%206.5%205.5%205.553%207.632%203.42%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}
.c-header--container{
	width: 100%;
	background-color: #2BAAED;
}

.c-header--logo{
	font-size: 30px;
	color: #FFF;
	position: absolute;
	top: 34px;
	left: 20px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none !important;

}

.c-search--input-wrapper{
	max-width: 1200px;
	margin: 0 auto;
	height: 90px;
	position: relative;
}

.c-search--input[type="text"]{ /* booo specificity */
	position: relative;
	top: 25px;
	width: 50%;
	left: 25%;
	background-size: 1.5em;
	background-position: 97% center;
	background-repeat: no-repeat;
	background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-142%20143%2015%2015%22%3E%3Cstyle%3E.st0%7Bfill%3Anone%3B%7D%20.st1%7Bfill%3A%23AAB9C8%3B%7D%3C%2Fstyle%3E%3Ccircle%20class%3D%22st0%22%20cx%3D%22-135.5%22%20cy%3D%22149.4%22%20r%3D%224%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M-127.7%20155.8l-2.8-2.8-.1-.1c.7-1%201.1-2.2%201.1-3.5%200-3.3-2.7-6-6-6s-6%202.7-6%206%202.7%206%206%206c1.3%200%202.5-.4%203.5-1.1l.1.1%202.8%202.8.7.7%201.4-1.4-.7-.7zm-7.8-2.4c-2.2%200-4-1.8-4-4s1.8-4%204-4%204%201.8%204%204-1.8%204-4%204z%22%2F%3E%3C%2Fsvg%3E);  
}
